<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="UnityFinderDBConnectionString" connectionString="Data Source=c:\Users\Gk\Downloads\sqlite-shell-win32-x86-3080200\newdb;Version=3;&#xD;&#xA;" />
    <add name="UnityFinderContext" connectionString="Data Source=GK-PC\SQLEXPRESS;Initial Catalog=UnityFinder;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="UnityFinderEntities" connectionString="metadata=res://*/Assets.Scripts.Storage.Database.UnityFinderContext.csdl|res://*/Assets.Scripts.Storage.Database.UnityFinderContext.ssdl|res://*/Assets.Scripts.Storage.Database.UnityFinderContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GK-PC\SQLEXPRESS;initial catalog=UnityFinder;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>